    <nav class="navbar navbar-inverse navbar-fixed-top csh-cyborg" role="navigation" data-th-fragment="navbar-top">
        <div class="navbar-header">
          <a class="navbar-brand csh-top-link" href="index.html" data-th-href="@{/cyborg-chronicles}">Cyborg Chronicles</a>

        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="csh-twitter-top-bar nav navbar-nav">
              <li>
                  <img data-th-src="@{/images/logos/Twitter_logo_blue.png}" class="twitter-logo" alt="Twitter"/>
              </li>
              <li>
                  <a href="https://twitter.com/Cardshifter" class="navbar-brand csh-top-link" style="font-size: 1.4em; margin-top: 2px;">@Cardshifter</a>
              </li>
          </ul>
        </div>
    </nav>
