<div class="col-sm-3 col-md-2 sidebar csh-nav-background csh-nav-padding csh-nav-width" data-th-fragment="left-side-navigation">
  <div class="nav nav-sidebar">
  
	<div class="csh-left-menu-main"><a class="csh-nav-link" href="index.html" data-th-href="@{/}">Cardshifter Home</a></div>
	
	<div class="csh-left-menu-main"><a class="csh-nav-link csh-nav-main" href="index.html" data-th-href="@{/cyborg-chronicles}">Cyborg Chronicles</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/wiki/Game-Rules">Game Rules</a></div>
	
	<div class="csh-left-menu-main"><a class="csh-nav-link csh-nav-main" href="cards.html" data-th-href="@{/cyborg-chronicles/cards}">Cards</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="cards-bio.html" data-th-href="@{/cyborg-chronicles/cards-bio}">Bio</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="cards-mech.html" data-th-href="@{/cyborg-chronicles/cards-mech}">Mech</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="cards-cybernetic.html" data-th-href="@{/cyborg-chronicles/cards-cybernetic}">Cybernetic</a></div>
	
	<div class="csh-left-menu-main"><a class="csh-nav-link csh-nav-main" href="factions.html" data-th-href="@{/cyborg-chronicles/factions}">Factions</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="faction-planet-corp.html" data-th-href="@{/cyborg-chronicles/faction-planet-corp}">Planet Corp.</a></div>        
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="faction-blackout.html" data-th-href="@{/cyborg-chronicles/faction-blackout}">Blackout</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="faction-esu.html" data-th-href="@{/cyborg-chronicles/faction-esu}">Earth Survival Union</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="faction-tyrakk.html" data-th-href="@{/cyborg-chronicles/faction-tyrakk}">Tyrakk</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="faction-celescion.html" data-th-href="@{/cyborg-chronicles/faction-celescion}">Celescion</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="faction-bioshell.html" data-th-href="@{/cyborg-chronicles/faction-bioshell}">BioShell</a></div>
	
	<div class="csh-left-menu-main"><a class="csh-nav-link csh-nav-main" href="story.html" data-th-href="@{/cyborg-chronicles/story}">Story</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="story-prelude.html" data-th-href="@{/cyborg-chronicles/story-prelude}">Prelude</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="story-invasion.html" data-th-href="@{/cyborg-chronicles/story-invasion}">Invasion</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="story-corruption.html" data-th-href="@{/cyborg-chronicles/story-corruption}">Corruption</a></div>
	<div class="csh-left-menu-sub"><a class="csh-nav-link" href="story-enter.html" data-th-href="@{/cyborg-chronicles/story-enter}">Enter the Chronicles</a></div>

  </div>
</div>
