<div class="col-sm-3 col-md-2 sidebar csh-nav-background csh-nav-padding" data-th-fragment="left-side-navigation">
  <ul class="nav nav-sidebar">
  
    <h4><a class="csh-nav-link" href="index.html" data-th-href="@{/}">Cardshifter Home</a></h4>
    <h4><a class="csh-nav-link" href="index.html" data-th-href="@{/cyborg-chronicles}">Home</a></h4>
    <h5><a class="csh-nav-link" href="game-rules.html" data-th-href="@{/cyborg-chronicles/game-rules}">Game Rules</a></h5>

	<h4><a class="csh-nav-link" href="cards.html" data-th-href="@{cyborg-chronicles/cards}">Cards</a></h4>
	<h5><a class="csh-nav-link" href="cards-bio" data-th-href="@{cyborg-chronicles/cards-bio}">Bio</a></h5>
	<h5><a class="csh-nav-link" href="cards-mech" data-th-href="@{cyborg-chronicles/cards-mech}">Mech</a></h5>
	<h5><a class="csh-nav-link" href="cards-cybernetic" data-th-href="@{cyborg-chronicles/cards-cybernetic}">Cybernetic</a></h5>

	<h4><a class="csh-nav-link" href="factions.html" data-th-href="@{/cyborg-chronicles/factions}">Factions</a></h4>
	<h5><a class="csh-nav-link" href="faction-planet-corp.html" data-th-href="@{/cyborg-chronicles/faction-planet-corp}">Planet Corp.</a></h5>
	<h5><a class="csh-nav-link" href="faction-blackout.html" data-th-href="@{/cyborg-chronicles/faction-blackout}">Blackout</a></h5>
	<h5><a class="csh-nav-link" href="faction-esu.html" data-th-href="@{/cyborg-chronicles/faction-esu}">Earth Survival Union</a></h5>
	<h5><a class="csh-nav-link" href="faction-tyrakk.html" data-th-href="@{/cyborg-chronicles/faction-tyrakk}">Tyrakk</a></h5>
	<h5><a class="csh-nav-link" href="faction-celescion.html" data-th-href="@{/cyborg-chronicles/faction-celescion}">Celescion</a></h5>
	<h5><a class="csh-nav-link" href="faction-bioshell.html" data-th-href="@{/cyborg-chronicles/faction-bioshell}">BioShell</a></h5>

    <h4><a class="csh-nav-link" href="story.html" data-th-href="@{cyborg-chronicles/story}">Story</a></h4>
    <h5><a class="csh-nav-link" href="story-prelude.html" data-th-href="@{cyborg-chronicles/story-prelude}">Prelude</a></h5>  
    <h5><a class="csh-nav-link" href="story-invasion.html" data-th-href="@{cyborg-chronicles/story-invasion}">Invasion</a></h5>
    <h5><a class="csh-nav-link" href="story-corruption.html" data-th-href="@{cyborg-chronicles/story-corruption}">Corruption</a></h5>
    <h5><a class="csh-nav-link" href="story-enter.html" data-th-href="@{cyborg-chronicles/story-enter}">Enter the Chronicles</a></h5>

  </ul>
</div>
