/* GitHub Theme */
.prettyprint {
  background: white;
  font-family: Monaco, Consolas, Courier New, monospace;
  font-size: 12px;
  line-height: 1.5;
  border: 1px solid #ccc;
  padding: 10px;
}
code {
  font-family: Monaco, Consolas, Courier New, monospace;
  font-size:12px;
}
/* Plain text */
.pln {
  color: #333333;
}

@media screen {
/* String content */
  .str {
    color: #dd1144;
  }
/* Keyword */
  .kwd {
    color: #333333;
  }
/* Comment */
  .com {
    color: #999988;
  }
/* Type name */
  .typ {
    color: #445588;
  }
/* Literal value */
  .lit {
    color: #445588;
  }
/* Punctuation */
  .pun {
    color: #333333;
  }
/* Lisp open bracket */
  .opn {
    color: #333333;
  }
/* Lisp close bracket */
  .clo {
    color: #333333;
  }
/* Mark-up tag name */
  .tag {
    color: navy;
  }
/* Mark-up attribute name */
  .atn {
    color: teal;
  }
/* Markup attribute value */
  .atv {
    color: #dd1144;
  }
/* Declaration */
  .dec {
    color: #333333;
  }
/* Variable name */
  .var {
    color: teal;
  }
/* Function name */
  .fun {
    color: #990000;
  }
}
@media print, projection {
  .str {
    color: #006600;
  }

  .kwd {
    color: #006;
    font-weight: bold;
  }

  .com {
    color: #600;
    font-style: italic;
  }

  .typ {
    color: #404;
    font-weight: bold;
  }

  .lit {
    color: #004444;
  }

  .pun, .opn, .clo {
    color: #444400;
  }

  .tag {
    color: #006;
    font-weight: bold;
  }

  .atn {
    color: #440044;
  }

  .atv {
    color: #006600;
  }
}
/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L4,
li.L5,
li.L6,
li.L7,
li.L8,
li.L9 {
  /* */
}

/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 {
  /* */
}
