/* Obsidian theme */
.prettyprint {
  background-color: black;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size: 9pt;
  line-height: 1.3;
  border: 0px solid #888;
  padding: 10px;
}

code {
  background: black;
  font-family: Consolas, Monaco, "Courier New", monospace;
  font-size:9pt;
}
/* Plain text */
.pln {
  color: #F1F2F3;
}

@media screen, print, projection {
/* String content */
  .str {
    color: #EC7600;
  }
/* Keyword */
  .kwd {
    color: #93C763;
  }
/* Comment */
  .com {
    color: #66747B;
  }
/* Type name */
  .typ {
    color: #678CB1;
  }
/* Literal value */
  .lit {
    color: #FACD22;
  }
/* Punctuation */
  .pun {
    color: #F1F2F3;
  }
/* Lisp open bracket */
  .opn {
    color: #333333;
  }
/* Lisp close bracket */
  .clo {
    color: #333333;
  }
/* Mark-up tag name */
  .tag {
    color: #8AC763;
  }
/* Mark-up attribute name */
  .atn {
    color: #E0E2E4;
  }
/* Markup attribute value */
  .atv {
    color: #EC7600;
  }
/* Declaration */
  .dec {
    color: purple;
  }
/* Variable name */
  .var {
    color: white;
  }
/* Function name */
  .fun {
    color: white;
  }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin-top: 0;
  margin-bottom: 0;
}

/* IE indents via margin-left */
ul.linenums li {
    color: #555;
    list-style-type: decimal;
}

/* Alternate shading for lines */
ul.linenums li:nth-child(odd) {
    background: #111;
}
