<div class="col-sm-3 col-md-2 sidebar csh-nav-background csh-nav-padding" data-th-fragment="left-side-navigation">
  <ul class="nav nav-sidebar">
    <h4><a class="csh-nav-link" href="index.html" data-th-href="@{/}">Home</a></h4>
    <h4><a class="csh-nav-link" href="play-cardshifter.html" data-th-href="@{/play-cardshifter}">Play Cardshifter!</a></h4>
    <h4><a class="csh-nav-link" href="news.html" data-th-href="@{/news}">News</a></h4>
    <h5><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/releases">Latest Release</a></h5>
    <h5><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/issues">New Git issues</a></h5>
    <h4><a class="csh-nav-link" href="project.html" data-th-href="@{/project}">Project</a></h4>
    <h5><a class="csh-nav-link" href="contributors.html" data-th-href="@{/contributors}">Contributors</a></h5>
    <h5><a class="csh-nav-link" href="images.html" data-th-href="@{/images}">Images</a></h5>
    <h5><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/wiki">Wiki</a></h5>
    <h5><a class="csh-nav-link" href="contribute.html" data-th-href="@{/contribute}">Contribute!</a></h5>
    <h4><a class="csh-nav-link" href="mods.html" data-th-href="@{/mods}">Mods</a></h4>
    <h5><a class="csh-nav-link" href="cyborg-chronicles.html" data-th-href="@{/cyborg-chronicles}">Cyborg Chronicles</a></h5>
    <h5><a class="csh-nav-link" href="new-mod.html" data-th-href="@{/new-mod}">Start a New Mod!</a></h5>
    <h4><a class="csh-nav-link" href="contact-us.html" data-th-href="@{/contact-us}">Contact Us</a></h4>
    <h5><a class="csh-nav-link" href="report-bug.html" data-th-href="@{/report-bug}">Report a bug</a></h5>
    <h5><a class="csh-nav-link" href="request-feature.html" data-th-href="@{/request-feature}">Request a feature</a></h5>
    <h5><a class="csh-nav-link" href="http://chat.stackexchange.com/rooms/16134/tcg-creation">Chat room</a></h5>
  </ul>
</div>
