<aside class="col-sm-3 col-md-2 sidebar csh-side-nav" data-th-fragment="left-side-navigation" style="margin-top: 0px; padding-top: 10px;">
  <nav class="nav nav-sidebar">
    <div class="csh-left-menu-main"><a class="csh-nav-link" href="index.html" data-th-href="@{/}">Home</a></div>
    <div class="csh-left-menu-main"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/wiki/How-to-play-Cardshifter">Play Cardshifter!</a></div>
    <div class="csh-left-menu-main"><a class="csh-nav-link" href="news.html" data-th-href="@{/news}">News</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/releases">Latest Release</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/issues">New Git issues</a></div>
    <div class="csh-left-menu-main"><a class="csh-nav-link" href="project.html" data-th-href="@{/project}">Project</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="contributors.html" data-th-href="@{/contributors}">Contributors</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="screenshots.html" data-th-href="@{/screenshots}">Screenshots</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/wiki">Wiki</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="contribute.html" data-th-href="@{/contribute}">Contribute!</a></div>
    <div class="csh-left-menu-main"><a class="csh-nav-link" href="mods.html" data-th-href="@{/mods}">Mods</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="cyborg-chronicles.html" data-th-href="@{/cyborg-chronicles}">Cyborg Chronicles</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="new-mod.html" data-th-href="@{/new-mod}">Start a New Mod!</a></div>
    <div class="csh-left-menu-main"><a class="csh-nav-link" href="mailto:cardshifter@psychoproductions.net">Contact Us</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/issues/new">Report a bug</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/issues/new">Request a feature</a></div>
    <div class="csh-left-menu-sub"><a class="csh-nav-link" href="http://chat.stackexchange.com/rooms/16134/tcg-creation">Chat room</a></div>
  </nav>
</aside>
