<div class="col-sm-3 col-md-2 sidebar csh-nav-background csh-nav-padding" th:fragment="left-side-navigation">
  <ul class="nav nav-sidebar">
    <h4><a class="csh-nav-link" href="index.html" th:href="@{/}">Home</a></h4>
    <h4><a class="csh-nav-link" href="play-cardshifter.html">Play Cardshifter!</a></h4>
    <h4><a class="csh-nav-link" href="news.html">News</a></h4>
    <h5><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/releases" target="_blank">Latest Release</a></h5>
    <h5><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/issues" target="_blank">New Git issues</a></h5>
    <h4><a class="csh-nav-link" href="project.html" th:href="@{/project}">Project</a></h4>
    <h5><a class="csh-nav-link" href="contributors.html" th:href="@{/contributors}">Contributors</a></h5>
    <h5><a class="csh-nav-link" href="images.html">Images</a></h5>
    <h5><a class="csh-nav-link" href="https://github.com/Cardshifter/Cardshifter/wiki" target="_blank">Wiki</a></h5>
    <h5><a class="csh-nav-link" href="contribute.html">Contribute!</a></h5>
    <h4><a class="csh-nav-link" href="mods.html" th:href="@{/mods}">Mods</a></h4>
    <h5><a class="csh-nav-link" href="cyborg-chronicles.html">Cyborg Chronicles</a></h5>
    <h5><a class="csh-nav-link" href="new-mod.html">Start a New Mod!</a></h5>
    <h4><a class="csh-nav-link" href="contact-us.html">Contact Us</a></h4>
    <h5><a class="csh-nav-link" href="report-bug.html">Report a bug</a></h5>
    <h5><a class="csh-nav-link" href="request-feature.html">Request a feature</a></h5>
    <h5><a class="csh-nav-link" href="http://chat.stackexchange.com/rooms/16134/tcg-creation" target="_blank">Chat room</a></h5>
  </ul>
</div>
