<div class="col-sm-9 col-md-9 main" data-th-fragment="content">
  <h1 class="header-border">Planet Corp.</h1>
  <div class="default-template csh-body">

    <h3>Summary</h3>

    <p>Planet Corp. is a massive corporation that focuses on defense and military technology. Their wealthy leaders hide behind armies of Mechs, and have created a worldwide virtual communication network, called <i>"The Plane"</i>, to which all their machines
      and systems are connected. They also manufacture communication devices and implants for humans to connect to The Plane.</p>

    <p>Planet Corp., as their name implies, also explore other planets to exploit resources for their Earth operations. The corporation's influence in politics is very deep and they are generally hated and criticized for their lobbying of Earth governments.
    </p>

  </div>
</div>
