<!DOCTYPE HTML>
<html>
<head>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Cardshifter</title>
    
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
    
    <meta name="description" content="Cardshifter trading card game, an open source multiplayer game."/>
    <meta name="author" content="Cardshifter"/>
    <link rel="author" href="https://github.com/Cardshifter" />
    <link rel="publisher" href="https://github.com/Cardshifter" />

    <link itemprop="image" data-th-href="@{/images/logos/cardshifter-logo.png}"/>
    <link property="og:image" data-th-href="@{/images/logos/cardshifter-logo.png}"/>
    <link property="og:url" href="http://www.CardShifter.com/"/>
    <link property="twitter:url" href="https://twitter.com/Cardshifter"/>
    <link property="twitter:image" data-th-href ="@{/images/logos/cardshifter-logo.png}"/>

    <!-- favicons created using http://www.favicon-generator.org/ on 2015-08-24  -->
        <link rel="apple-touch-icon" sizes="57x57" data-th-href="@{/images/logos/favicon/apple-icon-57x57.png}"/>
        <link rel="apple-touch-icon" sizes="60x60" data-th-href="@{/images/logos/favicon/apple-icon-60x60.png}"/>
        <link rel="apple-touch-icon" sizes="72x72" data-th-href="@{/images/logos/favicon/apple-icon-72x72.png}"/>
        <link rel="apple-touch-icon" sizes="76x76" data-th-href="@{/images/logos/favicon/apple-icon-76x76.png}"/>
        <link rel="apple-touch-icon" sizes="114x114" data-th-href="@{/images/logos/favicon/apple-icon-114x114.png}"/>
        <link rel="apple-touch-icon" sizes="120x120" data-th-href="@{/images/logos/favicon/apple-icon-120x120.png}"/>
        <link rel="apple-touch-icon" sizes="144x144" data-th-href="@{/images/logos/favicon/apple-icon-144x144.png}"/>
        <link rel="apple-touch-icon" sizes="152x152" data-th-href="@{/images/logos/favicon/apple-icon-152x152.png}"/>
        <link rel="apple-touch-icon" sizes="180x180" data-th-href="@{/images/logos/favicon/apple-icon-180x180.png}"/>
        <link rel="icon" type="image/png" sizes="192x192"  data-th-href="@{/images/logos/favicon/android-icon-192x192.png}"/>
        <link rel="icon" type="image/png" sizes="32x32" data-th-href="@{/images/logos/favicon/favicon-32x32.png}"/>
        <link rel="icon" type="image/png" sizes="96x96" data-th-href="@{/images/logos/favicon/favicon-96x96.png}"/>
        <link rel="icon" type="image/png" sizes="16x16" data-th-href="@{/images/logos/favicon/favicon-16x16.png}"/>
        <link rel="manifest" data-th-href="@{/images/logos/favicon/manifest.json}"/>
        <meta name="msapplication-TileColor" content="#ffffff"/>
        <meta name="msapplication-TileImage" data-th-content="@{/images/logos/favicon/ms-icon-144x144.png}"/>
        <meta name="theme-color" content="#ffffff"/>
    <!-- /favicons -->
    
    <meta itemprop="name" content="Cardshifter"/>
    <meta itemprop="description" content="Cardshifter trading card game, an open source Java 8 multiplayer game."/>
    <meta itemprop="image" data-th-href="@{/images/logos/cardshifter-logo.png}"/>
        
    <meta property="og:title" content="Cardshifter"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" data-th-href="@{/images/logos/cardshifter-logo.png}"/>
    <meta property="og:url" href="http://www.CardShifter.com/"/>
    <meta property="og:description" content="Cardshifter trading card game, an open source multiplayer game."/>
    <meta property="fb:admins" content="1409176289383456"/>
    
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="website"/>
    <meta name="twitter:title" content="Cardshifter"/>
    <meta name="twitter:description" content="Cardshifter trading card game, an open source Java 8 multiplayer game."/>
    <meta name="twitter:image" data-th-href="@{/images/logos/cardshifter-logo.png}"/>
    <meta name="twitter:url" href="http://www.CardShifter.com/"/>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script type="text/javascript" src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script type="text/javascript" src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body class="no-js">
    <div class="main">
        <header>
            <div class="wrap">
                <img src="images/cardshifter-banner-cards.png" alt="" class="header-img">
                <div class="header-wrapper">
                    <h1><span>Welcome to</span> Cardshifter.</h1>
                    <p>A game for TCG enthusiasts, by TCG enthusiasts.</p>
                    <p><b>Play it. Mod it. Make it.</b></p>
                    <div class="buttons-wrapper">
                        <a href="http://play.cardshifter.com/" class="button button-stripe">Play Cardshifter!</a>
                        <a href="project.html" class="button button-stripe">Learn more</a>
                    </div>
                </div>
                <!-- /.header-wrapper -->
            </div>
            <!-- /.wrap -->
        </header>
        <div class="spanning">
            <div class="promo clearfix">
                <div class="wrap">
                    <div class="promo-wrapper clearfix">
                        <div class="promo-column">
                            <img src="upload/cardshifter-tiny.png" height="32" width="37" alt="">
                            <h5>Really Free</h5>
                            <p>No installation.</p>
                            <p>No registration.</p>
                            <p>No strings attached.</p>
                            <p>Just play in your browser.</p>
                        </div>
                        <div class="promo-column">
                            <img src="upload/cardshifter-tiny.png" height="32" width="37" alt="">
                            <h5>Cyborg Chronicles</h5>
                            <p>A dystopian, cyberpunk themed game featuring human factions and war machines.</p>
                            <p><a href="cyborg-chronicles.html" data-th-href="@{/cyborg-chronicles}">Learn more.</a></p>
                        </div>
                        <div class="promo-column">
                            <img src="upload/cardshifter-tiny.png" height="32" width="37" alt="">
                            <h5>Mythos</h5>
                            <p>Gods and Heroes battle it out in this mythological game. Features art from many cultures.</p>
                            <!-- TODO: Update this link once Mythos site exists -->
                            <p><a href="#">Learn more.</a></p>
                        </div>
                        <div class="promo-column">
                            <img src="upload/cardshifter-tiny.png" height="32" width="37" alt="">
                            <h5>Open-source</h5>
                            <p>Want to create your own mod, or help with the game? You can!</p>
                            <p><a href="contribute.html">Learn more.</a></p>
                        </div>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.promo clearfix -->
            <div class="discover clearfix">
                <div class="wrap">
                    <div class="discover-content clearfix">
                        <h2>Experience</h2>
                        <p>
                            We all, young and old, enjoy the experience of playing a well-thought and well-made game, be it around a table with friends or on the computer or television screen. 
                        </p>
                        <h2>Experiment</h2>
                        <p>    
                            We at Cardshifter are striving to give you that game experience, but also much more than that: we want to give you the opportunity to be a part of the creation process. 
                            Perhaps you have imagined a card game of your own, or you would like to create more content for an existing game. Read on.
                        </p>
                    </div>
                    <div class="screen-couple-left wow fadeInLeftBig">
                        <div class="fog fog-top wow"></div>
                        <div class="fog fog-bottom wow"></div>
                        <!-- Large background image below banner -->
                        <img src="images/landing-sample-screenshot.png" alt="" width="499" height="581" />

                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.discover clearfix -->
            <div class="comments clearfix">
                <div class="wrap">
                    <div class="tab">
                        <div class="box visible">
                            <h4>Creation made easy</h4>
                            <p>&ldquo;It's great to have the ability to create game content so easily, the <a href="https://twitter.com/Cardshifter">@Cardshifter</a> platform requires little to no coding experience!&rdquo;</p>
                            <p><a href="http://twitter.com/PsychoProds">@PsychoProds</a> on <a href="https://twitter.com/PsychoProds/status/708848563867021312">Twitter</a></p>
                        </div>
                        <div class="box">
                            <h4>Developing with game designers and content creators in mind</h4>
                            <p>&ldquo;Working with supporting both moddability and very specific features in <a href="https://twitter.com/Cardshifter">@Cardshifter</a> can be really challenging, but very enjoyable.&rdquo;</p>
                            <p><a href="http://twitter.com/SimonForsberg">@SimonForsberg</a> on <a href="https://twitter.com/SimonForsberg/status/707995984954056704">Twitter</a></p>
                        </div>
                        <div class="box">
                            <h4>A unique development philosophy</h4>
                            <p>&ldquo;Developing moddable Trading Card Game <a href="https://twitter.com/Cardshifter">@Cardshifter</a>, you learn to think in ways you have never thought before. Always pushing extensibility.&rdquo;</p>
                            <p><a href="http://twitter.com/SimonForsberg">@SimonForsberg</a> on <a href="https://twitter.com/SimonForsberg/status/707996626598694912">Twitter</a></p>
                        </div>
                        <ul class="tabs">
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <a href="#" class="tab-prev"></a>
                        <a href="#" class="tab-next"></a>
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.comments clearfix -->
            <div class="simple clearfix">
                <div class="wrap">
                    <div class="simple-content">
                        <h3>Flexible UI</h3>
                        <ul>
                            <li class="clearfix"><img src="upload/cardshifter-tiny.png" height="32" width="37" alt=""><span>Fast and responsive play</span></li>
                            <li class="clearfix"><img src="upload/cardshifter-tiny.png" height="32" width="37" alt=""><span>Dynamic game content</span></li>
                            <li class="clearfix"><img src="upload/cardshifter-tiny.png" height="32" width="37" alt=""><span>Customize with CSS and JavaScript</span></li>
                            <li class="clearfix"><img src="upload/cardshifter-tiny.png" height="32" width="37" alt=""><span>Works in all modern browsers</span></li>
                        </ul>
                    </div>
                    <div class="simple-img">
                        <img class="" src="images/landing-sample-screenshot-fullboard.png" alt="" width="977" height="699" />
                    </div>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.simple clearfix -->
            <div class="news clearfix">
                <div class="wrap">
                    <div class="news-title">News &amp; Updates</div>
                    <h2>Follow <a href="https://twitter.com/Cardshifter">@Cardshifter</a> on Twitter or check the <a href="news.html" data-th-href="@{/news}">News</a> section!</h2>
                </div>
                <!-- /.wrap -->
            </div>
            <!-- /.news clearfix -->
        </div>
        <!-- /.spanning-columns -->
    </div>
    <!-- /.main -->
    <!-- DOWNLOAD BEGIN -->
    <section id="download" class="bg-color-main">
        <div class="container-fluid"> 
            <a href="http://play.cardshifter.com/" class="goto">
                <div class="download"><h2>Play Cardshifter!</h2></div>
            </a> 
        </div>
        <div class="block-bg"></div>
    </section>
    <!-- DOWNLOAD END -->
    <footer>
        <div class="wrap">
            <p><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons BY-NC-SA</a> 2014-<script type="text/javascript">var year = new Date();document.write(year.getFullYear());</script>, Cardshifter.</p>
            <p class="text-center"> Theme by <a href="https://themewagon.com/"> Themewagon </a> </p>
        </div>
        <!-- /.wrap -->
    </footer>
    <script src="js/jquery.js"></script>
    <script src="js/library.js"></script>
    <script src="js/script.js"></script>
    <script src="js/retina.js"></script>
</body>
</html>
