<div class="col-sm-9 col-md-10 main" data-th-fragment="content">
  <h1 class="header-border">News</h1>
  <div class="default-template csh-body">
  
    <!-- WEB CLIENT -->
    <article class="csh-article">
      <header>
        <h2 class="csh-article">Browser-based web client almost ready!</h2>
        <p class="csh-article-header">Published:
          <time datetime="2015-02-12T17:30">2015-08-24</time>
        </p>
      </header>
      <section class="csh-article">
        <h3 class="csh-article">Summary</h3>
        <p class="csh-article-content">We have been very busy last 3 weeks developing a brand new browser-based, fully functional game client. This means players will be able to connect and play instantly. No downloads, no installs, no updates, just type your name and connect!</p>
        <p class="csh-article-content">Follow @Cardshifter on Twitter for updates!</p>
      </section>
      <section class="csh-article">
        <h3 class="csh-article">Fun facts about web client:</h3>
        <ul class="csh-article-list">
          <li>Combining the best of web app technologies for a clean and responsive design. </li>
          <li>For the first time, card images and animations will be here!</li>
          <li>Flexible, supporting effect and flavor text, and visual card metrics using Bootstrap CSS.</li>
          <li>Will allow custom CSS templates for each mod, thanks to some AngularJS magic.</li>
          <li>Server-side game data passed via WebSocket ensures that all client instances are playing the same version of the game, with nothing at all for the player to download or install.</li>
          <li>Continuing development with the goal of flexibility and no-nonsense design.</li>
          <li>Tested in Firefox, Google Chrome, Safari, and Internet Explorer 9 or newer. (no plans to support IE 8 or older)</li>
        </ul>
      </section>
      <footer class="csh-article">
        <p class="csh-article-footer">Published by Cardshifter dev team</p>
      </footer>
    </article>
  
    <!-- OFFICIAL 0.5 RELEASE -->
    <article class="csh-article">
      <header>
        <h2 class="csh-article">Official 0.5 Release!</h2>
        <p class="csh-article-header">Published:
          <time datetime="2015-02-12T17:30">2015-02-12</time>
        </p>
      </header>
      <section class="csh-article">
        <h3 class="csh-article">Summary</h3>
        <p class="csh-article-content">Today marks the launch of the newest release of Cardshifter!</p>
        <p class="csh-article-content">Find out <a href="https://github.com/Cardshifter/Cardshifter/wiki/How-to-play-Cardshifter">how to download and play</a> today and come join in the fun!</p>
      </section>
      <section class="csh-article">
        <h3 class="csh-article">Release notes</h3>
        <ul class="csh-article-list">
          <li>Added support for cards with effects and abilities</li>
          <li>Added some cards with various effects and abilities</li>
          <li>Enhanced Deck Builder</li>
          <li>Improved AI Decks</li>
          <li>Server uses a modloader to load mods in a directory on startup</li>
          <li>GUI Improvements</li>
          <li>Added replays</li>
          <li>Changed names of game types</li>
          <li>Added security manager to Server</li>
        </ul>
      </section>
      <footer class="csh-article">
        <p class="csh-article-footer">Published by Cardshifter dev team</p>
      </footer>
    </article>
    
  </div>
</div>
