<div class="col-sm-9 col-md-10 main" data-th-fragment="content">
  <h1 class="header-border">Project</h1>
  <div class="default-template csh-body">

    <p>Cardshifter is an open-source Trading Card Game project which began in August 2014. It is being developed by 
      a team of dedicated software developers and game designers. This page will go over some of the tools and technologies
      that we employ.
    </p>
    
    <h3>Github links:</h3>
    <ul>
      <li><a href="https://github.com/Cardshifter/Cardshifter">Primary repository</a></li>
      <li><a href="https://github.com/Cardshifter/Cardshifter/wiki">Wiki</a></li>
      <li><a href="https://github.com/Cardshifter/Cardshifter/issues">Issues</a></li>
      <li><a href="https://github.com/Cardshifter/Cardshifter/network">Network graph</a></li>
      <li><a href="https://waffle.io/#!/Cardshifter/Cardshifter">Waffle issue tracker</a></li>
      <li><a href="https://github.com/Cardshifter/cardshifter.github.io">Website repository</a></li>
    </ul>

    <h3>Core Development Technologies</h3>

    <ul>
      <li>
        <a href="http://www.oracle.com/technetwork/java/javase/overview/java8-2100321.html">Java 8</a>
      </li>
      
      <li>
        <a href="http://www.groovy-lang.org/">Groovy</a>
      </li>

      <li>
        <a href="http://libgdx.badlogicgames.com/">libGDX</a>
      </li>
      
      <li>
        <a href="http://en.wikipedia.org/wiki/Entity_component_system">Entity Component System</a>
      </li>
    </ul>

    <h3>Web client, and this website</h3>

    <ul>
      <li>
        <a href="https://angularjs.org/">AngularJS</a>
      </li>
    
      <li>
        <a href="http://docs.spring.io/spring/docs/current/spring-framework-reference/html/mvc.html">Spring Web MVC framework</a>
      </li>

      <li>
        <a href="http://tomcat.apache.org/tomcat-8.0-doc/">Apache Tomcat 8</a>
      </li>

      <li>
        <a href="http://getbootstrap.com/css/">Bootstrap CSS</a>
      </li>
    </ul>

  </div>
</div>
