<div class="col-sm-9 col-md-10 main" data-th-fragment="content">
  <h1 class="header-border">Screenshots</h1>
  <div class="default-template csh-body">
    <p>This page will showcase some of the screens you will encounter while playing the Cardshifter trading card game.</p>
    <h3>Login screen</h3>
    <p>When you start the game this is the first screen you encounter. Simply choose a user name, enter the server 
    information and click <strong>Connect</strong> to enter the lobby. You may also simply start a local practice 
    game by selecting <strong>Start Local Game</strong>.</p>
    <img src="images/screenshots/0.6-login.png" alt="Login" />

    <h3>Lobby</h3>
    <p>After connecting, you will see all players who are connected to the server, as well as a few AI players 
    you can play with for practice. You can chat with other players in the lobby's chat room. You can also access 
    the Deck Builder.</p>
    <p>To start a game, select a player or AI, select a game type, and click
      <strong>Invite To Game</strong>.</p>
    <img src="images/screenshots/0.6-lobby.png" alt="Lobby" />

    <h3>Deck Builder</h3>
    <p>This screen displays all the available cards for you to choose, as well as any saved decks you have. 
    You can choose  a total of 30 cards per deck. Use the Prev and Next buttons to scroll through the card library.
      To add a card, simply click it. To remove from deck, click the card in the Active Deck section. Once your deck
       is completed, give it a name and click <strong>Save Deck</strong>. You may load saved decks by selecting it 
       on the right and clicking <strong>Load Deck</strong>. Once you have a deck created, you're ready to start 
       a game!</p>
    <img src="images/screenshots/0.6-deck-builder.png" alt="Deck Builder" style="width: 950px;" />

    <h3>Game scene</h3>
    <p>This is where the action happens! The cards in your hand are displayed at the bottom, and your and your 
    opponent's cards in play are displayed in the blue and red sections, respectively. The legend at the top will 
    help you see what you can do each turn. On the right you will see your and your opponent's health and resources, 
    and cards remaining in each deck. Once either player's health reaches 0, the game is over. Enjoy!</p>
    <img src="images/screenshots/0.6-game.png" alt="Game" style="width: 950px;" />
  </div>
</div>
